# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Pytest cache
.pytest_cache/

# mypy, pyright, pylance
.mypy_cache/
.pyright/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/


# big models
models/medium.en/
models/small.en/
models/base.en/


.streamlit/secrets.toml